
@import "/src/assets/scss/variable";

.navbar {
  background-color: $primary; 
  padding: 10px;
}

.navbar-brand {
  color: $blue; 
  font-size: 21px;
}

.nav-link {
  color: $offwhite; 
  font-size: 17px;
}
.nav-link:hover{ 
  color: $secondary;
}

.navbar-toggler {
  margin-right: 16px; 
  border-color: $offwhite; 
  color: $offwhite; 
}

.navbar-toggler-icon {
  background-color: $offwhite; 
}
.navbar-collapse {
  background-color: $primary; 
}

.navbar-nav {
  .nav-link {
      color: $offwhite;
      &.active {
          color: $blue; 
      }
  }
}
.fas {
  color: $blue;
}

.dropdown-menu {
  background-color: $offwhite; 
  .dropdown-item {
    color: $default; 
    &:hover {
      background-color: $blue;
      color: $white; 
    }
  }
}

