// You can add custom styling here if needed
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px; /* Initial position outside the viewport */
  width: 250px;
  background-color: #f8f9fa; /* Bootstrap light background color */
  transition: all 0.3s ease;
}

.sidebar.active {
  left: 0; /* Move sidebar into viewport when active */
}

.sidebar-sticky {
  overflow-y: auto;
  height: 100%;
}

.navbar-toggler {
  margin-right: 16px; /* Adjust spacing between toggle button and brand */
}
