<!-- sidebar.component.html -->
  <!-- Sidebar -->
  <div class="sidebar">
    <ul class="nav flex-column ">
      <li class="nav-item">
        <a class="nav-link active" >
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
           Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
           Messages
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
           Bookmark
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
           Files
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
           Stats
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
           Sign Out
        </a>
      </li>
    </ul>
  </div>