/* sidebar.component.css */

.sidebar {
  background: #f8f9fa;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 3rem;
  // overflow-x: hidden;
}

.sidebar .nav-link {
  color: #495057;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: #fff;
}
