@import "/src/assets/scss/variable";

.dashboard-section {
    background-color: $white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary);
    border-bottom: 2px solid $primary;
}

.dashboard-card {
    background-color:$light_blue;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-card h3 {
    font-size: 20px;
    color: $primary;
    text-align: center;
}

.dashboard-card p {
    font-size: 18px;
    color: $default;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .dashboard-section {
        padding: 10px;
        margin-top: 10px;
    }

    .dashboard-section h2 {
        font-size: 20px;
    }

    .dashboard-card {
        padding: 10px;
    }

    .dashboard-card h3 {
        font-size: 18px;
    }

    .dashboard-card p {
        font-size: 16px;
    }
}

.newContentBtn{
    background-color: $blue;
    border-style:double;
    color: $offwhite;
    display: flex;
}
.newContentBtn:hover {
    background-color: $blue_btn_hover;
    color: $offwhite;
}