<!-- Dashboard Section -->
<div class="container">
    <div class="dashboard-section">        
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-card ">
                    <h3>User List</h3>
                    <p>{{totalUsers}}</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="dashboard-card">
                    <h3>Total Media Items</h3>
                    <p>{{totalContents}}</p>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="dashboard-card">
                    <h3 class="">Visitors</h3>
                    <p>1000</p>
                </div>
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <button class="btn newContentBtn" (click)="createContent()">Create New Content</button>
        </div>
    </div>
</div>

<!-- <div>
    <h2>Total Users: {{ totalUsers }}</h2>
    <ul>
      <li *ngFor="let user of users">
        {{ user.username }}
      </li>
    </ul>
    
    <h2>Total Content: {{ totalContent }}</h2>
    <ul>
      <li *ngFor="let item of content">
        {{ item.title }}
      </li>
    </ul>
  </div> -->