<!-- Dashboard Section -->
<div class="container">
    <div class="dashboard-section">        
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-card ">
                    <h3>User List</h3>
                    <p>100</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="dashboard-card">
                    <h3>Total Media Items</h3>
                    <p>111</p>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="dashboard-card">
                    <h3 class="">Visitors</h3>
                    <p>1000</p>
                </div>
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <button class="btn newContentBtn" (click)="createContent()">Create New Content</button>
        </div>
    </div>
</div>