$required_feilds:red;
$card_hover:rgb(255, 255, 255);
$full-height: 100vh;
$flexible-grow: 1;
$false_answer: red;
$true_answer: green;
$default: black;
$primary: #027474;
$primary_btn_hover: #679696;
$danger: #dc3545;
$secondary: #397883;